# Server
PORT=5000
NODE_ENV=development

# Supabase
SUPABASE_URL=https://wofxhadaxsvirjxawzhx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndvZnhoYWRheHN2aXJqeGF3emh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzNjc1NjksImV4cCI6MjA5MDk0MzU2OX0.yddSK_bdCkcAUduLuzHbvqEtiZp8i844_AF2HztdyRM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndvZnhoYWRheHN2aXJqeGF3emh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTM2NzU2OSwiZXhwIjoyMDkwOTQzNTY5fQ.z21CW-SME7yFOhAYU554dBtcqmQYUtVu2GiJWN_KIpg

# Database (Supabase Postgres - Session Pooler)
DB_HOST=aws-1-ap-south-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.wofxhadaxsvirjxawzhx
DB_PASSWORD=facultyoftechnologyy
DATABASE_URL=postgresql://postgres.wofxhadaxsvirjxawzhx:facultyoftechnologyy@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
ENCRYPTION_KEY=18f76ded7f8bab903b8d150947e864f66d2e8441e50f1a694702ddbdfb9074fc

# JWT
JWT_SECRET=01be64e411838f3d134b8420f2f1368ef4bc5f4a875168bb56be01e8fed4a9d3d4e00a13efefd3eda776742abd422e29b00588a986ca756a6689ffa20109d6bc
JWT_EXPIRY=15m
REFRESH_TOKEN_SECRET=79e3bbcb3030ea6c07ae90681066489893a01de67129c6bacace6ce705806dad1054bec6bf76f4ae3705f907d5732af55a22ffe4e4ebbc85e76755bf19029d59
REFRESH_TOKEN_EXPIRY=7d

# Redis (for token blacklist + rate limiting)
REDIS_URL=redis://localhost:6379